<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Better Productivity Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
</head>
<body>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome to your dashboard.</h1>
        <p>This is your dashboard. Do whatever you want with it.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <form action="" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ticket URL">
            <button type="submit" class="btn btn-secondary float-right">Add</button>
          </div>
        </form>

      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <span class="badge bg-primary">Primary</span>
          <span class="badge bg-secondary">Secondary</span>
          <span class="badge bg-success">Success</span>
          <span class="badge bg-danger">Danger</span>
          <span class="badge bg-warning text-dark">Warning</span>
          <span class="badge bg-info text-dark">Info</span>
          <span class="badge bg-light text-dark">Light</span>
          <span class="badge bg-dark">Dark</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark Lorem Ipsum Happy feet</td>
                <td>Otto</td>
                <td>
                  <div class="dropdown">
                    <i class="bi bi-three-dots-vertical dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target="#exampleModa2">
                    </i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-success" href="#">Green</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a type="button">Something else here</a></li>
                    </ul>
                  </div></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <% dataTickets.forEach(ticket => { %>
                    <td><%= ticket.name %></td>
                  <% }); %>
                  <td><i class="bi bi-three-dots-vertical"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <!-- Button trigger modal
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <!-- Button trigger modal
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
-->

<script src="../public/js/bootstrap.bundle.min.js"></script>

<style>
  /* To remove the default arrow (caret), use the following: */
  .dropdown-toggle::after {
    display: none;
  }
</style>

</body>
</html>
